In [7]:
import __init__

from db.mydf import MyDf
db = MyDf()
sql = """select sum(min_c) * (select C FROM ohlcv_GSPC_D order by EP desc limit 1) as asset
from
(
SELECT DATE_FORMAT(DT, '%%Y-%%m') AS Month, 10000/MIN(C) AS Min_C
FROM ohlcv_GSPC_D
WHERE DT >= '2019-01-01 00:00:00'
AND DT <= '2024-01-01 00:00:00'
GROUP BY 1
) as a"""
db.read_sql(sql)

           asset
0  851105.488023

In [9]:
import __init__

from db.mydf import MyDf
db = MyDf()
sql = """select sum(Max_C) * (select C FROM ohlcv_GSPC_D order by EP desc limit 1) as asset
from
(
SELECT DATE_FORMAT(DT, '%%Y-%%m') AS Month, 10000/MAX(C) AS Max_C
FROM ohlcv_GSPC_D
WHERE DT >= '2019-01-01 00:00:00'
AND DT <= '2024-01-01 00:00:00'
GROUP BY 1
) as a"""
db.read_sql(sql)

           asset
0  792564.040239