In [1]:
import __init__

import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)

from db.pgdf import PgDf
from db.postgresql import PostgreSqlDB

d = PostgreSqlDB()
pg = PgDf()

df = pg.read_sql("""WITH t AS (
SELECT t.codename, t.side,
t.profit,
CASE WHEN t.result = 'lose' THEN -1
    WHEN t.result = 'win' THEN 1
    ELSE 0
END AS result,
CASE WHEN (mado > 2) THEN 1 ELSE 0 END AS mado,
CASE WHEN abs(trend_rate) > 0.75 THEN 1 ELSE 0 END AS trend,
CASE WHEN len_std > 1.5 THEN 1 ELSE 0 END AS long_candle,
CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
peak_broken
FROM zz_strtg_params as z
JOIN trades as t ON t.order_id = z.order_id
WHERE t.trade_name = 'zzstrat_top3000vol'
AND abs(t.profit) > 0
AND t.open_price > 1000
)

SELECT COUNT(*) as cnt, side, result,mado,trend,long_candle,momiai, peak_broken, (SUM(t.profit)/20000) as profit
FROM t
-- WHERE momiai = 0
GROUP BY side, result, mado,trend,long_candle, momiai, peak_broken
ORDER BY 2,4,5,6,7,8,3
;""")
df

ERROR:root:(psycopg2.errors.UndefinedColumn) column "momiai" does not exist
LINE 11: CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
                    ^
HINT:  Perhaps you meant to reference the column "z.momiai1" or the column "z.momiai2".

[SQL: WITH t AS (
SELECT t.codename, t.side,
t.profit,
CASE WHEN t.result = 'lose' THEN -1
    WHEN t.result = 'win' THEN 1
    ELSE 0
END AS result,
CASE WHEN (mado > 2) THEN 1 ELSE 0 END AS mado,
CASE WHEN abs(trend_rate) > 0.75 THEN 1 ELSE 0 END AS trend,
CASE WHEN len_std > 1.5 THEN 1 ELSE 0 END AS long_candle,
CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
peak_broken
FROM zz_strtg_params as z
JOIN trades as t ON t.order_id = z.order_id
WHERE t.trade_name = 'zzstrat_top3000vol'
AND abs(t.profit) > 0
AND t.open_price > 1000
)

SELECT COUNT(*) as cnt, side, result,mado,trend,long_candle,momiai, peak_broken, (SUM(t.profit)/20000) as profit
FROM t
-- WHERE momiai = 0
GROUP BY side, result, mado,trend,long_candle, momiai, peak_broken
ORDER BY 2,4,5,6,7,8,3
;]
(Background on this error at: https://sqlalche.me/e/20/f405)
ERROR:root:(psycopg2.errors.UndefinedColumn) column "momiai" does not exist
LINE 11: CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
                    ^
HINT:  Perhaps you meant to reference the column "z.momiai1" or the column "z.momiai2".

[SQL: WITH t AS (
SELECT t.codename, t.side,
t.profit,
CASE WHEN t.result = 'lose' THEN -1
    WHEN t.result = 'win' THEN 1
    ELSE 0
END AS result,
CASE WHEN (mado > 2) THEN 1 ELSE 0 END AS mado,
CASE WHEN abs(trend_rate) > 0.75 THEN 1 ELSE 0 END AS trend,
CASE WHEN len_std > 1.5 THEN 1 ELSE 0 END AS long_candle,
CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
peak_broken
FROM zz_strtg_params as z
JOIN trades as t ON t.order_id = z.order_id
WHERE t.trade_name = 'zzstrat_top3000vol'
AND abs(t.profit) > 0
AND t.open_price > 1000
)

SELECT COUNT(*) as cnt, side, result,mado,trend,long_candle,momiai, peak_broken, (SUM(t.profit)/20000) as profit
FROM t
-- WHERE momiai = 0
GROUP BY side, result, mado,trend,long_candle, momiai, peak_broken
ORDER BY 2,4,5,6,7,8,3
;]
(Background on this error at: https://sqlalche.me/e/20/f405)
ERROR:root:(psycopg2.errors.UndefinedColumn) column "momiai" does not exist
LINE 11: CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
                    ^
HINT:  Perhaps you meant to reference the column "z.momiai1" or the column "z.momiai2".

[SQL: WITH t AS (
SELECT t.codename, t.side,
t.profit,
CASE WHEN t.result = 'lose' THEN -1
    WHEN t.result = 'win' THEN 1
    ELSE 0
END AS result,
CASE WHEN (mado > 2) THEN 1 ELSE 0 END AS mado,
CASE WHEN abs(trend_rate) > 0.75 THEN 1 ELSE 0 END AS trend,
CASE WHEN len_std > 1.5 THEN 1 ELSE 0 END AS long_candle,
CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
peak_broken
FROM zz_strtg_params as z
JOIN trades as t ON t.order_id = z.order_id
WHERE t.trade_name = 'zzstrat_top3000vol'
AND abs(t.profit) > 0
AND t.open_price > 1000
)

SELECT COUNT(*) as cnt, side, result,mado,trend,long_candle,momiai, peak_broken, (SUM(t.profit)/20000) as profit
FROM t
-- WHERE momiai = 0
GROUP BY side, result, mado,trend,long_candle, momiai, peak_broken
ORDER BY 2,4,5,6,7,8,3
;]
(Background on this error at: https://sqlalche.me/e/20/f405)
ERROR:root:(psycopg2.errors.UndefinedColumn) column "momiai" does not exist
LINE 11: CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
                    ^
HINT:  Perhaps you meant to reference the column "z.momiai1" or the column "z.momiai2".

[SQL: WITH t AS (
SELECT t.codename, t.side,
t.profit,
CASE WHEN t.result = 'lose' THEN -1
    WHEN t.result = 'win' THEN 1
    ELSE 0
END AS result,
CASE WHEN (mado > 2) THEN 1 ELSE 0 END AS mado,
CASE WHEN abs(trend_rate) > 0.75 THEN 1 ELSE 0 END AS trend,
CASE WHEN len_std > 1.5 THEN 1 ELSE 0 END AS long_candle,
CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
peak_broken
FROM zz_strtg_params as z
JOIN trades as t ON t.order_id = z.order_id
WHERE t.trade_name = 'zzstrat_top3000vol'
AND abs(t.profit) > 0
AND t.open_price > 1000
)

SELECT COUNT(*) as cnt, side, result,mado,trend,long_candle,momiai, peak_broken, (SUM(t.profit)/20000) as profit
FROM t
-- WHERE momiai = 0
GROUP BY side, result, mado,trend,long_candle, momiai, peak_broken
ORDER BY 2,4,5,6,7,8,3
;]
(Background on this error at: https://sqlalche.me/e/20/f405)
ERROR:root:tried to connect 5 times

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "momiai" does not exist
LINE 11: CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
                    ^
HINT:  Perhaps you meant to reference the column "z.momiai1" or the column "z.momiai2".

[SQL: WITH t AS (
SELECT t.codename, t.side,
t.profit,
CASE WHEN t.result = 'lose' THEN -1
    WHEN t.result = 'win' THEN 1
    ELSE 0
END AS result,
CASE WHEN (mado > 2) THEN 1 ELSE 0 END AS mado,
CASE WHEN abs(trend_rate) > 0.75 THEN 1 ELSE 0 END AS trend,
CASE WHEN len_std > 1.5 THEN 1 ELSE 0 END AS long_candle,
CASE WHEN (momiai >= 0.4) THEN 1 ELSE 0 END AS momiai,
peak_broken
FROM zz_strtg_params as z
JOIN trades as t ON t.order_id = z.order_id
WHERE t.trade_name = 'zzstrat_top3000vol'
AND abs(t.profit) > 0
AND t.open_price > 1000
)

SELECT COUNT(*) as cnt, side, result,mado,trend,long_candle,momiai, peak_broken, (SUM(t.profit)/20000) as profit
FROM t
-- WHERE momiai = 0
GROUP BY side, result, mado,trend,long_candle, momiai, peak_broken
ORDER BY 2,4,5,6,7,8,3
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [12]:
print("momiai=1: %d" % (len(df[df.momiai == 1])))
print("total   : %d" % (len(df)))

momiai=1: 56
total   : 102

In [10]:
df = pg.read_sql("""WITH t AS (
SELECT t.codename,
t.side,
t.profit,
CASE WHEN t.result = 'lose' THEN -1
    WHEN t.result = 'win' THEN 1
    ELSE 0
END AS result,
CASE WHEN (mado > 1) THEN 1 ELSE 0 END AS mado,
CASE WHEN (abs(trend_rate) > 0.7) THEN 1 ELSE 0 END AS trend,
CASE WHEN ABS(len_std) > 1.5 THEN 1 ELSE 0 END AS long_candle,
prefer_recent_peaks,
CASE WHEN (reversed_rate > 0.3) THEN 1 ELSE 0 END AS reversed,
CASE WHEN (ABS(acc) > 0.6) THEN 1 ELSE 0 END AS acc,
CASE WHEN (momiai >= 0.5) THEN 1 ELSE 0 END AS momiai,
peak_broken
FROM zz_strtg_params as z
JOIN trades as t ON t.order_id = z.order_id
WHERE t.trade_name = 'zzstrat_top1000vol_bothside'
AND abs(t.profit) > 0
AND t.open_price > 1000
), g AS (
SELECT codename, side, COUNT(*) as cnt, result,mado,trend,long_candle,reversed,momiai, peak_broken, (SUM(t.profit)/20000) as profit
FROM t
GROUP BY codename, side, result, mado,trend,long_candle,reversed, momiai, peak_broken
), w AS (SELECT * FROM g WHERE result = 1),
l AS (SELECT * FROM g WHERE result = -1)

SELECT w.codename, w.side, w.cnt, l.cnt, w.mado, w.trend, w.long_candle, w.reversed, w.momiai, w.peak_broken
FROM w LEFT JOIN l on w.codename = l.codename and w.mado = l.mado and w.trend = l.trend and
w.long_candle = l.long_candle and w.reversed = l.reversed and w.momiai = l.momiai and w.peak_broken = l.peak_broken
-- WHERE w.cnt > 2
ORDER BY w.codename, w.cnt desc
;""")
df

,codename,side,cnt,cnt,mado,trend,long_candle,reversed,momiai,peak_broken
0,1306.T,-1,1,NaN,0,1,0,1,0,0
1,1306.T,1,1,1.0,0,1,0,0,1,0
2,1306.T,-1,1,1.0,0,1,0,0,1,0
3,1306.T,-1,1,NaN,0,1,0,1,1,0
4,1306.T,-1,1,NaN,1,1,0,0,0,0
5,1306.T,-1,1,NaN,1,1,0,1,1,0
6,1357.T,1,1,NaN,0,0,0,1,1,0
7,1357.T,1,1,NaN,0,1,0,0,1,0
8,1360.T,-1,1,NaN,0,1,0,0,0,0
9,1360.T,1,1,NaN,0,1,0,0,1,0
10,1360.T,1,1,NaN,1,0,0,0,1,1
11,1459.T,-1,1,NaN,1,1,0,0,0,0
12,1459.T,1,1,NaN,0,0,1,0,1,0
13,1459.T,-1,1,1.0,1,1,0,0,1,1
14,1570.T,-1,2,NaN,0,1,0,0,1,0
15,1570.T,-1,1,NaN,0,0,0,1,1,0
16,1570.T,-1,1,NaN,1,0,0,0,1,0
17,1570.T,-1,1,NaN,1,0,1,0,1,0
18,1570.T,-1,1,1.0,1,1,0,0,0,0
19,1570.T,1,1,1.0,1,1,0,0,0,0
20,1570.T,-1,1,NaN,1,1,0,0,1,0
21,1570.T,1,1,NaN,1,1,0,0,1,1
22,1570.T,1,1,NaN,0,0,0,0,1,0
23,1605.T,-1,2,NaN,0,0,0,0,1,0
24,1605.T,1,1,NaN,0,0,0,0,1,0
25,1802.T,1,1,NaN,1,0,0,0,1,0
26,1808.T,-1,1,NaN,0,0,0,0,1,0
27,1812.T,-1,2,NaN,1,1,0,0,1,0
28,1812.T,1,1,1.0,0,1,0,0,1,0
29,1812.T,-1,1,NaN,0,1,1,1,0,1
30,1812.T,-1,1,NaN,0,1,1,1,1,0
31,1812.T,-1,1,NaN,1,1,0,0,0,1
32,1812.T,-1,1,1.0,0,0,0,0,1,0
33,1925.T,-1,2,NaN,0,1,0,0,0,0
34,1925.T,-1,1,1.0,0,1,0,0,1,0
35,1928.T,-1,3,3.0,0,1,0,0,1,0
36,1928.T,-1,1,NaN,0,0,1,0,1,0
37,1928.T,-1,1,1.0,0,0,0,1,1,0
38,1928.T,1,1,3.0,0,1,0,0,1,0
39,1928.T,1,1,1.0,0,1,0,1,1,0
40,1928.T,-1,1,1.0,0,1,1,0,1,0
41,1963.T,1,2,1.0,0,1,0,0,0,0
42,1963.T,1,2,1.0,0,1,0,0,0,0
43,2127.T,-1,1,NaN,1,0,0,0,1,0
44,2127.T,-1,1,NaN,1,1,0,0,1,1
45,2160.T,-1,1,NaN,0,0,0,0,1,1
46,2267.T,1,1,NaN,0,0,1,0,1,0
47,2413.T,-1,1,1.0,0,0,0,0,1,0
48,2413.T,1,1,1.0,0,0,0,0,1,0
49,2413.T,-1,1,1.0,0,1,0,0,1,0
50,2413.T,-1,1,NaN,0,1,1,0,1,0
51,2413.T,1,1,1.0,1,0,0,0,1,0
52,2427.T,1,1,NaN,0,1,0,0,1,1
53,2427.T,-1,1,1.0,0,1,0,0,1,0
54,2427.T,-1,1,NaN,0,0,1,0,1,0
55,2432.T,-1,1,NaN,0,1,1,1,1,0
56,2432.T,-1,1,NaN,0,1,1,0,1,0
57,2432.T,-1,1,NaN,0,1,0,1,1,0
58,2432.T,1,1,NaN,0,0,0,0,1,0
59,2502.T,-1,1,1.0,0,1,0,0,1,0
60,2502.T,1,1,NaN,1,1,0,0,0,0
61,2503.T,1,2,1.0,0,0,0,1,1,0
62,2503.T,1,1,NaN,0,0,0,1,1,1
63,2503.T,1,1,NaN,0,0,0,0,1,0
64,2503.T,-1,1,1.0,0,1,0,0,0,0
65,2503.T,1,1,2.0,0,1,0,0,1,0
66,2503.T,-1,1,2.0,0,1,0,0,1,0
67,2503.T,-1,1,1.0,0,1,1,1,1,0
68,2503.T,-1,1,1.0,0,1,1,1,1,0
69,2503.T,-1,1,NaN,1,0,0,1,1,1
70,2503.T,1,1,NaN,1,1,0,0,0,1
71,2768.T,-1,2,NaN,0,1,0,0,1,0
72,2768.T,1,2,NaN,1,1,0,0,1,0
73,2768.T,1,1,NaN,0,0,0,0,1,0
74,2801.T,1,1,NaN,0,1,0,0,1,1
75,2801.T,1,1,NaN,0,1,0,0,0,0
76,2801.T,-1,1,NaN,0,1,0,0,0,0
77,2801.T,-1,1,NaN,0,1,0,0,0,1
78,2801.T,-1,1,NaN,0,1,0,0,1,0
79,2801.T,-1,1,NaN,0,1,0,0,1,1
80,2801.T,1,1,NaN,1,0,0,0,1,0
81,2802.T,-1,2,1.0,0,0,0,1,1,0
82,2802.T,1,1,NaN,0,1,0,1,1,1
83,2802.T,1,1,NaN,0,0,0,1,1,1
84,2802.T,1,1,1.0,0,1,0,0,1,0
85,2802.T,1,1,2.0,0,1,0,0,0,0
86,2914.T,-1,4,1.0,0,1,0,1,1,0
87,2914.T,-1,4,1.0,0,1,0,1,1,0
88,2914.T,-1,2,4.0,0,0,0,1,1,0
89,2914.T,1,1,1.0,1,1,0,0,0,0
90,2914.T,-1,1,1.0,0,0,0,1,0,0
91,2914.T,1,1,4.0,0,0,0,1,1,0
92,2914.T,-1,1,NaN,0,0,1,1,1,0
93,2914.T,-1,1,1.0,0,1,0,1,0,0
94,2914.T,1,1,1.0,0,1,0,1,1,0
95,2914.T,1,1,1.0,0,1,0,1,1,0
96,2914.T,1,1,NaN,0,1,0,1,1,1
97,3038.T,-1,2,NaN,0,1,0,0,1,0
98,3038.T,-1,1,NaN,0,1,1,0,1,0
99,3064.T,-1,2,NaN,0,1,0,0,1,0
100,3064.T,-1,1,2.0,0,1,0,0,1,1
101,3064.T,-1,1,NaN,0,1,1,0,1,0
102,3064.T,1,1,NaN,0,0,0,0,1,0
103,3064.T,1,1,NaN,0,0,1,0,1,0
104,3088.T,1,1,NaN,0,0,0,0,1,0
105,3088.T,1,1,NaN,0,1,0,0,1,0
106,3092.T,1,1,1.0,0,1,0,0,1,0
107,3099.T,1,1,NaN,0,0,0,0,1,0
108,3099.T,1,1,NaN,0,0,0,1,1,0
109,3197.T,-1,4,NaN,0,1,0,0,1,0
110,3197.T,1,1,1.0,0,1,0,1,1,0
111,3197.T,1,1,3.0,0,1,1,0,1,0
112,3197.T,-1,1,3.0,0,1,1,0,1,0
113,3197.T,1,1,1.0,0,1,0,1,1,0
114,3382.T,-1,2,NaN,0,1,0,1,1,0
115,3382.T,1,1,NaN,0,1,0,0,0,0
116,3382.T,1,1,1.0,0,0,0,0,1,0
117,3382.T,-1,1,NaN,0,1,0,0,0,0
118,3382.T,1,1,6.0,0,1,0,0,1,0
119,3407.T,-1,1,NaN,0,1,0,0,0,0
120,3407.T,-1,1,NaN,0,1,0,0,1,1
121,3436.T,-1,1,NaN,0,0,1,0,1,0
122,3436.T,-1,1,NaN,0,0,0,1,1,0
123,3436.T,-1,1,1.0,0,1,0,0,0,1
124,3436.T,-1,1,2.0,0,1,0,0,1,0
125,3436.T,1,1,2.0,0,1,0,0,1,0
126,3436.T,1,1,NaN,0,1,1,0,1,0
127,3436.T,-1,1,NaN,0,1,1,0,1,1
128,3655.T,-1,1,1.0,0,1,0,0,1,1
129,3659.T,-1,3,1.0,0,1,0,0,1,0
130,3659.T,1,2,1.0,0,1,0,0,0,0
131,3659.T,1,1,NaN,0,0,1,0,1,0
132,3659.T,-1,1,NaN,0,0,1,0,1,0
133,3659.T,1,1,NaN,0,1,0,1,1,1
134,3659.T,1,1,1.0,0,1,1,0,1,0
135,3659.T,-1,1,NaN,0,0,0,0,1,0
136,3659.T,1,1,NaN,0,0,0,1,0,0
137,3668.T,1,1,NaN,0,1,0,0,1,0
138,4004.T,-1,2,2.0,0,1,0,0,1,0
139,4042.T,-1,1,NaN,0,0,0,1,1,0
140,4042.T,-1,1,2.0,0,1,0,0,1,0
141,4063.T,-1,2,1.0,0,1,0,0,1,0
142,4063.T,-1,1,NaN,0,0,0,0,1,0
143,4063.T,-1,1,1.0,0,0,0,1,1,0
144,4063.T,1,1,NaN,0,1,0,0,0,0
145,4063.T,1,1,NaN,0,0,0,0,0,1
146,4307.T,1,1,NaN,0,1,0,0,1,0
147,4307.T,1,1,NaN,1,1,0,0,1,0
148,4324.T,1,1,NaN,0,0,1,0,1,0
149,4385.T,1,1,NaN,0,0,0,0,1,1
150,4385.T,1,1,NaN,0,0,0,0,1,0
151,4385.T,1,1,1.0,0,1,0,0,1,0
152,4385.T,-1,1,NaN,0,0,0,0,1,0
153,4443.T,1,1,NaN,0,0,0,0,1,1
154,4452.T,1,2,NaN,0,1,0,1,1,0
155,4452.T,1,1,NaN,0,0,1,0,1,0
156,4452.T,1,1,1.0,0,1,0,0,0,0
157,4452.T,-1,1,1.0,0,1,0,0,1,0
158,4452.T,1,1,NaN,0,1,1,0,1,0
159,4452.T,-1,1,NaN,1,1,0,1,1,1
160,4452.T,1,1,NaN,1,0,0,0,1,0
161,4452.T,1,1,NaN,0,0,0,0,1,0
162,4477.T,-1,1,NaN,0,1,1,0,1,0
163,4502.T,-1,3,1.0,0,1,1,0,1,0
164,4502.T,-1,2,3.0,0,1,0,0,1,0
165,4502.T,1,1,NaN,0,1,0,0,0,1
166,4503.T,-1,5,2.0,0,1,0,0,1,0
167,4503.T,1,3,2.0,0,1,0,0,1,0
168,4503.T,-1,1,2.0,0,0,0,0,1,0
169,4503.T,1,1,NaN,0,0,0,0,1,1
170,4503.T,1,1,NaN,0,0,1,0,1,0
171,4503.T,-1,1,NaN,0,0,1,0,1,0
172,4503.T,-1,1,NaN,0,1,1,1,1,0
173,4503.T,-1,1,NaN,1,0,0,1,1,1
174,4507.T,-1,1,NaN,0,0,0,0,1,0
175,4507.T,1,1,NaN,0,1,0,0,1,1
176,4507.T,-1,1,NaN,0,1,0,0,0,0
177,4519.T,-1,3,1.0,0,1,0,0,1,0
178,4519.T,-1,1,NaN,0,1,1,0,1,0
179,4519.T,-1,1,NaN,0,0,0,1,1,0
180,4519.T,1,1,1.0,0,1,0,0,1,0
181,4519.T,1,1,1.0,0,1,0,1,1,0
182,4528.T,1,1,1.0,0,1,0,0,1,0
183,4528.T,-1,1,NaN,0,0,0,0,1,0
184,4528.T,-1,1,1.0,0,1,0,0,1,0
185,4543.T,1,1,1.0,0,0,0,0,1,0
186,4543.T,1,1,NaN,0,0,0,1,1,1
187,4543.T,-1,1,NaN,0,1,0,0,0,0
188,4543.T,1,1,4.0,0,1,0,0,1,0
189,4543.T,1,1,2.0,0,1,0,0,1,0
190,4543.T,-1,1,4.0,0,1,0,0,1,0
191,4543.T,-1,1,2.0,0,1,0,0,1,0
192,4543.T,-1,1,1.0,0,1,1,0,1,0
193,4543.T,1,1,NaN,1,1,0,0,1,0
194,4563.T,-1,1,NaN,0,1,0,0,1,0
195,4563.T,1,1,NaN,0,0,0,0,1,0
196,4565.T,1,1,NaN,0,1,0,0,1,0
197,4565.T,-1,1,NaN,0,1,0,0,0,1
198,4568.T,-1,1,3.0,0,1,0,0,1,0
199,4568.T,-1,1,NaN,0,1,0,0,1,1
200,4568.T,1,1,1.0,0,1,1,0,1,0
201,4568.T,-1,1,NaN,0,0,0,0,1,0
202,4568.T,-1,1,1.0,0,1,0,0,1,0
203,4568.T,1,1,NaN,1,0,0,0,1,0
204,4568.T,-1,1,1.0,0,0,1,0,1,0
205,4578.T,-1,1,NaN,0,1,0,1,1,0
206,4578.T,-1,1,NaN,0,0,0,1,1,0
207,4587.T,-1,1,NaN,0,1,0,0,1,1
208,4612.T,-1,2,NaN,0,1,0,0,1,0
209,4612.T,1,1,NaN,0,0,0,0,0,0
210,4612.T,-1,1,NaN,0,1,0,0,0,1
211,4661.T,1,2,1.0,0,1,0,0,1,0
212,4661.T,1,1,NaN,0,1,0,0,0,0
213,4661.T,1,1,NaN,0,0,0,0,1,0
214,4661.T,-1,1,NaN,0,1,0,0,0,0
215,4661.T,-1,1,1.0,0,1,0,0,1,0
216,4661.T,1,1,NaN,0,1,0,1,1,0
217,4661.T,-1,1,NaN,1,1,0,0,1,0
218,4666.T,-1,1,NaN,0,0,0,0,1,0
219,4666.T,-1,1,1.0,0,1,0,0,1,1
220,4751.T,-1,2,1.0,0,1,0,0,1,0
221,4751.T,1,1,NaN,0,0,0,0,0,1
222,4751.T,-1,1,NaN,0,1,1,0,1,0
223,4901.T,-1,2,2.0,0,1,0,0,1,0
224,4901.T,-1,2,1.0,0,1,0,0,1,0
225,4901.T,-1,1,2.0,0,0,0,1,1,0
226,4901.T,1,1,2.0,0,1,0,0,1,0
227,4901.T,1,1,1.0,0,1,0,0,1,0
228,4901.T,-1,1,NaN,0,0,0,0,1,0
229,4901.T,1,1,NaN,0,1,0,0,1,1
230,4901.T,-1,1,1.0,0,1,0,1,1,0
231,4901.T,-1,1,2.0,0,1,1,0,1,0
232,4901.T,1,1,NaN,0,1,0,0,0,0
233,4911.T,-1,1,NaN,0,0,0,1,0,0
234,4911.T,-1,1,2.0,0,1,0,0,0,0
235,4911.T,-1,1,1.0,0,1,0,0,0,0
236,4911.T,-1,1,1.0,0,1,0,0,1,0
237,4911.T,1,1,1.0,0,1,0,0,1,0
238,5108.T,1,2,NaN,0,0,1,1,1,0
239,5108.T,-1,1,1.0,0,1,0,0,1,0
240,5108.T,1,1,1.0,0,0,0,1,0,1
241,5108.T,-1,1,NaN,0,0,0,1,1,0
242,5108.T,-1,1,2.0,0,1,0,0,1,0
243,5108.T,-1,1,NaN,0,1,1,0,1,0
244,5108.T,-1,1,1.0,0,1,1,1,1,1
245,5108.T,1,1,NaN,1,0,0,0,0,0
246,5108.T,-1,1,NaN,1,0,0,1,1,0
247,5108.T,-1,1,NaN,1,1,0,0,0,1
248,5202.T,1,1,NaN,0,1,0,0,1,0
249,5401.T,-1,2,1.0,0,1,0,0,1,0
250,5401.T,-1,1,NaN,1,1,1,0,1,0
251,5406.T,1,1,NaN,0,1,0,0,0,0
252,5411.T,-1,1,1.0,0,1,0,0,1,0
253,5411.T,-1,1,NaN,0,1,0,1,1,0
254,5713.T,-1,1,1.0,0,0,0,0,1,0
255,5713.T,1,1,NaN,0,1,0,0,1,0
256,5713.T,-1,1,1.0,1,1,0,0,1,0
257,5726.T,1,1,NaN,0,1,0,0,1,0
258,5727.T,1,1,NaN,0,0,0,0,1,0
259,5727.T,1,1,NaN,0,0,0,0,0,1
260,5802.T,1,2,NaN,0,1,1,0,0,0
261,5802.T,1,1,NaN,0,1,0,0,1,1
262,5802.T,1,1,NaN,0,0,0,0,0,1
263,5802.T,1,1,1.0,0,0,0,0,1,0
264,5938.T,-1,1,NaN,0,1,0,0,1,0
265,5938.T,-1,1,NaN,0,1,0,1,1,0
266,6098.T,-1,1,1.0,0,0,0,0,1,0
267,6098.T,-1,1,1.0,0,0,0,0,1,0
268,6098.T,1,1,1.0,0,0,0,0,1,0
269,6098.T,1,1,1.0,0,0,0,0,1,0
270,6098.T,1,1,NaN,0,0,0,0,1,1
271,6098.T,-1,1,1.0,0,1,0,0,0,0
272,6098.T,-1,1,2.0,0,1,0,0,0,0
273,6098.T,-1,1,4.0,0,1,0,0,1,0
274,6098.T,-1,1,NaN,0,1,0,0,1,1
275,6098.T,-1,1,NaN,0,1,0,1,1,1
276,6098.T,-1,1,NaN,0,1,1,0,1,0
277,6098.T,-1,1,NaN,1,1,0,0,1,1
278,6113.T,-1,1,NaN,0,1,0,0,0,0
279,6178.T,1,1,1.0,0,0,0,0,1,0
280,6178.T,-1,1,NaN,0,0,0,1,1,0
281,6178.T,-1,1,NaN,0,1,0,0,1,0
282,6301.T,-1,3,NaN,0,1,1,0,1,0
283,6326.T,-1,3,1.0,0,1,0,0,1,0
284,6326.T,1,2,1.0,0,0,0,0,1,0
285,6326.T,1,2,1.0,0,1,0,0,0,0
286,6326.T,1,1,NaN,1,1,0,0,0,0
287,6326.T,1,1,NaN,0,0,0,1,1,0
288,6326.T,1,1,1.0,0,1,0,0,1,0
289,6326.T,1,1,1.0,0,1,1,0,1,0
290,6326.T,-1,1,1.0,0,1,1,0,1,0
291,6326.T,-1,1,NaN,0,1,1,0,1,1
292,6326.T,1,1,NaN,1,0,0,0,0,0
293,6326.T,1,1,NaN,1,0,1,0,1,1
294,6326.T,-1,1,NaN,1,1,0,0,1,0
295,6326.T,-1,1,NaN,1,1,0,0,1,1
296,6383.T,1,1,1.0,0,1,0,0,1,0
297,6383.T,1,1,3.0,0,1,0,0,1,0
298,6383.T,1,1,NaN,0,0,0,1,0,1
299,6383.T,-1,1,NaN,0,1,1,1,1,0
300,6383.T,-1,1,NaN,0,0,0,1,1,0
301,6383.T,-1,1,NaN,0,1,0,0,0,1
302,6479.T,1,1,NaN,0,0,0,0,0,0
303,6479.T,1,1,NaN,0,0,0,0,0,1
304,6479.T,1,1,2.0,0,0,0,0,1,0
305,6479.T,1,1,NaN,0,1,0,0,0,1
306,6479.T,-1,1,NaN,0,1,1,0,0,0
307,6479.T,1,1,NaN,1,1,0,0,1,0
308,6479.T,-1,1,NaN,1,1,0,0,1,0
309,6481.T,-1,1,NaN,1,1,0,0,1,0
310,6501.T,1,2,1.0,0,1,0,0,1,0
311,6501.T,-1,2,1.0,0,1,0,0,1,0
312,6501.T,1,1,NaN,0,1,0,0,0,0
313,6501.T,-1,1,NaN,0,0,0,0,1,0
314,6501.T,-1,1,NaN,0,0,0,1,1,0
315,6501.T,1,1,NaN,0,0,0,1,1,1
316,6501.T,-1,1,NaN,0,1,0,0,0,0
317,6501.T,-1,1,1.0,0,1,0,1,1,0
318,6501.T,1,1,NaN,1,1,0,0,0,0
319,6501.T,-1,1,1.0,1,1,0,0,1,0
320,6503.T,1,2,1.0,0,1,0,0,1,0
321,6503.T,1,2,2.0,0,1,0,0,1,0
322,6503.T,1,1,NaN,0,0,0,1,1,0
323,6503.T,-1,1,1.0,0,1,0,0,1,0
324,6503.T,-1,1,2.0,0,1,0,0,1,0
325,6503.T,-1,1,NaN,1,1,0,0,1,0
326,6506.T,1,1,NaN,0,1,0,0,1,1
327,6532.T,-1,1,1.0,0,1,0,0,0,1
328,6532.T,-1,1,NaN,0,1,0,0,1,0
329,6594.T,-1,1,NaN,0,1,0,0,1,1
330,6594.T,1,1,1.0,0,0,0,0,1,0
331,6594.T,-1,1,1.0,0,1,0,0,1,0
332,6701.T,-1,1,NaN,0,1,0,0,0,0
333,6702.T,1,2,NaN,0,0,1,0,1,0
334,6702.T,-1,1,NaN,0,0,1,0,1,0
335,6702.T,1,1,1.0,0,1,0,0,1,0
336,6702.T,1,1,NaN,1,0,0,0,1,0
337,6702.T,1,1,1.0,0,0,0,0,1,0
338,6723.T,1,1,NaN,0,0,1,0,1,0
339,6723.T,-1,1,NaN,0,1,0,0,0,1
340,6723.T,-1,1,NaN,0,1,1,0,1,0
341,6723.T,1,1,1.0,1,1,0,0,1,1
342,6723.T,1,1,NaN,1,1,1,0,1,0
343,6724.T,1,1,1.0,0,0,0,0,1,0
344,6724.T,-1,1,1.0,0,1,0,0,1,0
345,6724.T,-1,1,NaN,0,1,0,1,1,1
346,6752.T,1,1,1.0,0,0,0,0,1,0
347,6752.T,-1,1,NaN,0,0,0,0,0,0
348,6752.T,-1,1,NaN,0,1,0,0,0,0
349,6752.T,-1,1,NaN,0,1,0,1,0,0
350,6752.T,-1,1,1.0,0,0,0,0,1,0
351,6753.T,1,1,1.0,0,0,0,1,1,0
352,6753.T,-1,1,NaN,0,1,0,0,1,1
353,6753.T,-1,1,NaN,1,1,0,0,1,0
354,6753.T,1,1,NaN,1,1,1,0,1,1
355,6754.T,1,1,NaN,0,0,0,0,0,1
356,6754.T,-1,1,1.0,0,0,0,0,1,0
357,6754.T,-1,1,NaN,0,0,0,0,1,1
358,6754.T,-1,1,NaN,0,1,0,0,0,0
359,6754.T,-1,1,NaN,0,1,0,0,1,0
360,6754.T,1,1,NaN,1,1,0,0,0,0
361,6754.T,1,1,NaN,1,1,0,0,1,0
362,6758.T,-1,2,5.0,0,1,0,0,1,0
363,6758.T,-1,2,1.0,0,1,1,0,1,0
364,6758.T,1,2,NaN,0,1,0,0,0,0
365,6758.T,-1,2,1.0,0,1,0,0,1,0
366,6758.T,-1,1,NaN,0,0,0,1,1,0
367,6758.T,1,1,NaN,0,0,0,0,0,0
368,6758.T,1,1,5.0,0,1,0,0,1,0
369,6758.T,1,1,1.0,0,1,0,0,1,0
370,6758.T,-1,1,NaN,0,1,0,1,0,0
371,6758.T,1,1,1.0,1,0,0,0,1,0
372,6758.T,-1,1,NaN,1,1,0,0,1,0
373,6762.T,-1,1,NaN,1,0,0,1,1,1
374,6762.T,-1,1,NaN,0,0,0,0,0,0
375,6762.T,-1,1,NaN,0,1,0,0,1,0
376,6869.T,-1,2,2.0,0,1,0,0,1,0
377,6869.T,1,1,NaN,1,1,0,0,0,0
378,6869.T,1,1,1.0,0,0,1,0,1,0
379,6890.T,1,1,NaN,0,0,0,0,1,1
380,6902.T,-1,2,NaN,1,1,0,0,1,0
381,6902.T,1,1,NaN,0,1,0,0,0,1
382,6902.T,-1,1,NaN,0,0,0,1,1,0
383,6902.T,-1,1,NaN,0,1,0,0,0,0
384,6902.T,-1,1,1.0,0,1,0,0,1,0
385,6902.T,1,1,1.0,0,1,1,0,1,0
386,6902.T,-1,1,NaN,1,1,0,0,0,0
387,6902.T,1,1,NaN,1,1,0,0,1,1
388,6920.T,-1,1,NaN,0,0,1,0,1,1
389,6920.T,-1,1,1.0,0,1,0,0,1,0
390,6920.T,1,1,1.0,0,1,0,0,1,1
391,6952.T,1,1,NaN,0,1,0,0,1,1
392,6952.T,1,1,NaN,0,0,0,0,1,0
393,6952.T,1,1,NaN,0,0,1,1,0,1
394,6952.T,-1,1,NaN,1,1,0,0,1,0
395,6954.T,-1,2,2.0,0,1,0,0,1,0
396,6954.T,-1,2,2.0,0,1,0,0,1,0
397,6954.T,1,1,2.0,0,1,0,0,1,0
398,6954.T,1,1,NaN,0,0,0,1,0,1
399,6954.T,1,1,2.0,0,1,0,0,1,0
400,6954.T,-1,1,NaN,0,1,0,0,0,0
401,6954.T,-1,1,NaN,0,0,0,0,1,0
402,6954.T,1,1,NaN,0,1,1,0,0,0
403,6954.T,-1,1,NaN,0,1,1,0,1,0
404,6954.T,1,1,NaN,0,1,1,0,1,0
405,6963.T,-1,2,1.0,0,1,0,0,1,0
406,6963.T,1,1,NaN,0,1,0,0,0,0
407,6963.T,1,1,2.0,0,0,0,0,1,0
408,6963.T,-1,1,NaN,0,0,1,0,1,0
409,6963.T,-1,1,NaN,0,1,0,0,0,0
410,6963.T,-1,1,NaN,1,0,0,0,1,0
411,6963.T,-1,1,NaN,1,1,0,0,0,0
412,6971.T,1,2,1.0,0,1,0,0,1,0
413,6971.T,1,2,3.0,0,1,0,0,1,0
414,6971.T,1,1,NaN,0,1,0,0,0,0
415,6971.T,-1,1,3.0,0,1,0,0,1,0
416,6971.T,-1,1,1.0,0,1,0,0,1,0
417,6971.T,-1,1,NaN,0,0,0,0,0,0
418,6971.T,-1,1,NaN,1,1,0,0,1,1
419,6971.T,-1,1,NaN,0,0,0,0,1,0
420,6976.T,-1,1,NaN,0,0,1,0,1,0
421,6976.T,-1,1,1.0,0,1,0,0,1,0
422,6981.T,-1,2,1.0,0,1,0,0,0,0
423,6981.T,1,2,2.0,0,0,0,0,1,0
424,6981.T,1,1,1.0,0,0,1,0,1,0
425,6981.T,-1,1,1.0,0,1,0,0,0,1
426,6981.T,-1,1,NaN,0,1,0,0,1,1
427,6981.T,-1,1,NaN,0,1,1,0,1,0
428,6981.T,1,1,NaN,0,0,0,0,1,1
429,6981.T,-1,1,1.0,0,0,1,0,1,0
430,7013.T,1,2,NaN,0,1,0,0,1,0
431,7013.T,-1,1,1.0,0,0,0,0,1,0
432,7013.T,-1,1,1.0,0,0,0,0,1,0
433,7182.T,-1,2,1.0,0,1,0,1,1,0
434,7182.T,-1,1,1.0,0,0,0,1,1,0
435,7182.T,-1,1,1.0,0,0,0,1,1,0
436,7202.T,-1,1,NaN,0,0,0,0,1,0
437,7202.T,1,1,NaN,0,0,0,0,1,0
438,7202.T,-1,1,1.0,0,0,1,0,1,0
439,7202.T,-1,1,1.0,0,1,0,0,1,0
440,7202.T,1,1,1.0,0,1,0,0,1,0
441,7203.T,1,2,NaN,0,1,0,0,0,0
442,7203.T,1,2,1.0,0,0,0,0,1,0
443,7203.T,1,2,1.0,0,0,0,0,1,0
444,7203.T,-1,2,1.0,0,0,0,0,1,0
445,7203.T,-1,2,1.0,0,0,0,0,1,0
446,7203.T,-1,1,NaN,0,0,0,0,0,0
447,7203.T,1,1,NaN,0,0,0,1,1,0
448,7203.T,-1,1,NaN,0,0,1,0,0,0
449,7203.T,-1,1,NaN,0,1,0,0,0,0
450,7203.T,-1,1,NaN,0,1,0,1,0,0
451,7203.T,-1,1,NaN,0,1,1,0,1,0
452,7205.T,-1,1,NaN,0,1,0,0,0,0
453,7205.T,1,1,NaN,1,1,0,0,1,0
454,7205.T,1,1,NaN,0,1,0,0,1,1
455,7261.T,-1,1,NaN,1,1,0,0,0,0
456,7261.T,-1,1,NaN,1,1,0,1,1,1
457,7261.T,1,1,1.0,0,1,0,0,0,0
458,7269.T,1,1,NaN,0,0,1,0,1,1
459,7269.T,-1,1,NaN,1,1,0,0,1,0
460,7270.T,-1,2,NaN,1,1,0,0,1,1
461,7270.T,-1,1,NaN,0,0,0,1,0,1
462,7270.T,1,1,2.0,0,0,0,0,1,0
463,7270.T,-1,1,1.0,0,1,0,0,0,0
464,7270.T,-1,1,NaN,0,1,0,1,1,1
465,7270.T,-1,1,NaN,0,1,1,0,1,0
466,7270.T,1,1,NaN,0,1,1,0,1,0
467,7270.T,-1,1,NaN,1,1,0,0,1,0
468,7272.T,-1,1,NaN,0,1,0,0,0,0
469,7453.T,1,2,NaN,0,0,0,0,1,0
470,7453.T,1,1,NaN,0,0,0,0,0,0
471,7453.T,1,1,NaN,0,0,0,1,1,0
472,7453.T,-1,1,NaN,0,0,1,0,0,0
473,7453.T,-1,1,1.0,0,1,0,0,0,1
474,7453.T,-1,1,3.0,0,1,0,0,1,0
475,7453.T,-1,1,NaN,0,1,0,1,0,0
476,7453.T,1,1,NaN,1,0,0,0,1,0
477,7532.T,-1,2,NaN,0,1,0,0,0,0
478,7532.T,-1,2,1.0,0,1,0,0,1,0
479,7532.T,1,1,1.0,0,1,0,0,1,0
480,7532.T,-1,1,NaN,1,1,0,0,0,0
481,7707.T,1,1,NaN,0,1,0,0,1,0
482,7731.T,-1,2,NaN,0,1,0,0,1,0
483,7731.T,1,1,NaN,0,0,0,0,1,0
484,7731.T,-1,1,NaN,0,0,0,0,1,0
485,7731.T,-1,1,NaN,0,0,0,1,1,1
486,7731.T,1,1,NaN,0,0,0,0,0,1
487,7733.T,-1,1,1.0,0,1,0,1,1,1
488,7733.T,1,1,NaN,0,0,0,0,1,0
489,7733.T,1,1,1.0,0,0,1,0,1,0
490,7733.T,-1,1,1.0,0,1,0,0,0,0
491,7733.T,1,1,1.0,0,1,0,0,1,0
492,7733.T,-1,1,NaN,0,1,0,1,0,0
493,7735.T,-1,1,NaN,1,1,1,0,1,0
494,7735.T,-1,1,NaN,0,1,0,0,0,0
495,7735.T,-1,1,NaN,0,0,0,1,1,1
496,7747.T,-1,1,NaN,0,1,0,0,1,1
497,7751.T,-1,2,2.0,0,1,0,1,1,0
498,7751.T,1,1,1.0,0,0,0,1,1,0
499,7751.T,-1,1,NaN,1,1,0,0,1,0
500,7751.T,1,1,NaN,0,1,0,0,0,0
501,7751.T,-1,1,1.0,0,1,0,0,1,0
502,7751.T,1,1,1.0,0,1,0,0,1,0
503,7751.T,-1,1,1.0,0,0,0,1,1,0
504,7751.T,1,1,NaN,0,1,1,0,1,0
505,7751.T,-1,1,NaN,1,0,0,0,1,0
506,7752.T,-1,1,NaN,0,0,0,1,1,0
507,7832.T,-1,3,1.0,0,1,0,0,1,0
508,7832.T,1,1,1.0,0,0,1,1,1,0
509,7832.T,1,1,NaN,0,0,0,1,1,0
510,7832.T,-1,1,NaN,0,0,0,1,1,0
511,7832.T,-1,1,NaN,0,0,0,1,1,1
512,7832.T,-1,1,1.0,0,0,1,1,1,0
513,7832.T,-1,1,1.0,0,1,0,0,0,0
514,7832.T,1,1,1.0,0,1,0,0,1,0
515,7832.T,-1,1,NaN,0,1,0,0,1,1
516,7832.T,-1,1,NaN,0,1,0,1,0,1
517,7832.T,-1,1,NaN,0,1,1,0,1,0
518,7832.T,-1,1,NaN,1,0,0,1,1,0
519,7832.T,-1,1,NaN,1,1,0,0,1,1
520,7936.T,1,1,NaN,0,0,0,0,0,1
521,7936.T,-1,1,NaN,0,1,0,1,1,0
522,7974.T,1,2,2.0,0,1,0,0,1,0
523,7974.T,1,2,1.0,0,1,0,0,1,0
524,7974.T,-1,1,2.0,0,1,0,0,1,0
525,7974.T,-1,1,NaN,1,1,0,0,1,0
526,7974.T,1,1,NaN,1,1,0,0,1,0
527,7974.T,-1,1,1.0,0,1,0,0,1,0
528,7974.T,-1,1,NaN,0,0,0,0,1,0
529,7974.T,1,1,NaN,0,0,0,0,1,0
530,7974.T,1,1,NaN,0,0,0,1,1,0
531,8001.T,-1,3,2.0,0,1,0,1,1,0
532,8001.T,-1,2,2.0,0,1,0,0,0,0
533,8001.T,1,1,NaN,0,0,1,0,0,0
534,8001.T,1,1,NaN,0,1,0,0,1,0
535,8001.T,1,1,1.0,0,1,1,0,1,0
536,8002.T,1,1,1.0,0,1,0,0,0,0
537,8002.T,-1,1,1.0,0,1,0,0,1,0
538,8031.T,-1,4,6.0,0,1,0,0,1,0
539,8031.T,-1,4,1.0,0,1,0,0,1,0
540,8031.T,-1,2,3.0,0,1,0,1,1,0
541,8031.T,1,2,1.0,0,0,0,0,1,0
542,8031.T,1,1,1.0,0,1,0,0,1,0
543,8031.T,-1,1,NaN,0,0,0,0,0,0
544,8031.T,1,1,1.0,0,1,0,0,0,0
545,8031.T,1,1,6.0,0,1,0,0,1,0
546,8031.T,1,1,NaN,1,1,0,0,1,0
547,8035.T,1,1,NaN,0,0,1,0,0,1
548,8035.T,-1,1,NaN,0,1,0,0,0,1
549,8035.T,1,1,2.0,0,1,0,0,1,0
550,8035.T,-1,1,NaN,0,0,1,0,0,0
551,8035.T,1,1,2.0,0,1,0,0,1,0
552,8035.T,1,1,NaN,1,0,0,0,1,1
553,8035.T,-1,1,NaN,1,1,0,0,0,1
554,8035.T,-1,1,NaN,1,1,0,0,1,0
555,8035.T,1,1,NaN,1,1,1,0,1,0
556,8035.T,-1,1,NaN,0,1,0,0,0,0
557,8053.T,1,1,NaN,0,0,0,1,0,0
558,8053.T,-1,1,1.0,0,1,0,0,0,0
559,8053.T,-1,1,NaN,0,1,0,0,1,0
560,8053.T,1,1,NaN,0,1,1,0,1,0
561,8058.T,1,1,NaN,0,0,1,1,1,1
562,8058.T,1,1,NaN,1,0,1,0,1,0
563,8113.T,1,1,NaN,0,0,0,0,0,0
564,8267.T,-1,2,1.0,0,1,0,0,0,0
565,8267.T,1,1,1.0,0,1,0,0,0,0
566,8267.T,1,1,1.0,0,0,0,0,1,0
567,8267.T,1,1,1.0,0,0,0,1,1,0
568,8267.T,-1,1,1.0,0,0,0,1,1,0
569,8267.T,1,1,1.0,0,0,1,0,1,0
570,8267.T,1,1,NaN,0,1,0,1,1,1
571,8267.T,1,1,1.0,0,1,1,0,1,0
572,8267.T,1,1,NaN,1,0,0,1,1,1
573,8282.T,-1,1,NaN,0,1,0,0,1,0
574,8304.T,1,1,NaN,0,0,0,0,1,0
575,8304.T,-1,1,NaN,0,1,0,0,0,0
576,8306.T,1,1,NaN,0,1,0,0,0,0
577,8306.T,1,1,NaN,0,1,0,0,1,0
578,8306.T,1,1,NaN,0,1,1,0,1,0
579,8309.T,1,1,1.0,0,0,0,0,1,0
580,8309.T,1,1,NaN,0,0,0,1,1,0
581,8309.T,-1,1,NaN,0,1,0,0,0,1
582,8309.T,-1,1,3.0,0,1,0,0,1,0
583,8309.T,-1,1,2.0,0,1,0,0,1,0
584,8309.T,1,1,3.0,0,1,0,0,1,0
585,8309.T,1,1,2.0,0,1,0,0,1,0
586,8309.T,1,1,1.0,0,1,0,0,1,1
587,8309.T,1,1,1.0,0,1,1,0,1,0
588,8309.T,1,1,NaN,1,0,0,0,1,0
589,8316.T,-1,1,1.0,0,0,0,0,1,0
590,8316.T,-1,1,NaN,0,0,0,0,0,0
591,8316.T,-1,1,NaN,0,0,0,1,1,0
592,8316.T,1,1,NaN,0,0,1,0,1,1
593,8316.T,-1,1,2.0,0,1,0,0,0,0
594,8316.T,1,1,2.0,0,1,0,0,0,0
595,8316.T,-1,1,NaN,0,1,0,0,0,1
596,8316.T,1,1,2.0,0,1,0,0,1,0
597,8316.T,1,1,3.0,0,1,0,0,1,0
598,8316.T,1,1,NaN,0,1,0,1,1,1
599,8316.T,-1,1,NaN,0,1,1,0,1,0
600,8316.T,1,1,NaN,1,0,0,0,1,0
601,8316.T,1,1,NaN,1,0,1,0,1,0
602,8316.T,1,1,NaN,1,1,0,0,1,0
603,8331.T,1,1,NaN,0,1,1,0,1,1
604,8331.T,-1,1,NaN,0,1,0,1,1,0
605,8411.T,1,2,2.0,0,1,0,0,1,0
606,8411.T,1,2,1.0,0,1,0,0,1,0
607,8411.T,-1,1,NaN,1,0,0,1,1,0
608,8411.T,-1,1,NaN,1,1,0,0,1,0
609,8411.T,1,1,NaN,1,1,0,1,1,1
610,8411.T,1,1,NaN,1,1,0,0,1,0
611,8411.T,-1,1,NaN,0,0,0,0,0,0
612,8411.T,-1,1,NaN,0,0,1,1,1,0
613,8411.T,-1,1,NaN,1,0,0,0,1,0
614,8473.T,1,1,NaN,0,0,0,0,1,0
615,8473.T,-1,1,NaN,0,1,0,0,0,0
616,8473.T,-1,1,1.0,0,1,0,0,1,0
617,8591.T,1,2,1.0,0,0,0,0,1,0
618,8591.T,-1,1,1.0,0,1,0,0,0,0
619,8591.T,-1,1,NaN,1,1,0,0,0,0
620,8591.T,1,1,NaN,1,1,0,0,1,0
621,8591.T,-1,1,NaN,1,1,0,0,1,0
622,8630.T,-1,1,NaN,1,1,0,0,1,1
623,8630.T,-1,1,NaN,0,0,0,1,1,0
624,8630.T,1,1,NaN,0,1,0,0,0,0
625,8630.T,-1,1,NaN,0,1,0,0,1,0
626,8697.T,-1,1,NaN,0,1,0,0,0,0
627,8725.T,-1,1,NaN,0,0,0,0,1,0
628,8750.T,-1,2,2.0,0,1,0,0,0,0
629,8750.T,-1,1,1.0,0,1,0,0,1,0
630,8750.T,-1,1,NaN,0,1,0,1,0,1
631,8750.T,1,1,NaN,0,1,1,0,0,1
632,8750.T,1,1,NaN,1,0,0,0,1,0
633,8750.T,-1,1,1.0,1,1,0,0,1,0